<%= render 'layouts/nav' %>

<div class="mission">
    <div class="about-us-ctr">
        <h2>Our Mission</h2>
        <p>iPoetTree’s mission is to inspire a passion for writing through poetry in kids kindergarten to sixth grade. At iPoetTree, we provide a fun curriculum, a supportive environment for kids to share their poems, and even help them become published authors.</p>
    </div>
</div>
<div class="about-us-ctr">
    <h2>About Cassidy</h2>
    <%= image_tag("poetree-and-cassidy.jpg", class:"poetree-and-cassidy") %>
    <p>Cassidy Kao is a 14-year-old author who enjoys writing, dancing, and reading. She wasn’t very interested in writing until her mother introduced her to poetry when she was 8 years old. During National Poetry Month (April) of that year, she wrote at least one poem a day and posted each poem as a leaf on what became her “PoetTree.” When her PoetTree became too big to fit on her wall, Cassidy thought it would be fun to publish a book with all of her poems as a way to teach other kids everything she learned about poetry. Her first book is called Roller Coaster: A Kid’s Guide on How to Write Poetry. Her second book is Constellation Exploration, Greek Mythical Stories Retold with Simple Facts and Fun and Mysterious Riddles, a book primarily about constellations with a bit of poetry mixed in. Cassidy has since written and published two other books and continues to develop her love of writing.
</p>
<p>
    
While writing her books, Cassidy realized how much fun it was to write. She knew there were lots of kids who didn’t enjoy writing, just like she didn't before she was introduced to poetry. So, she made it her mission to inspire young reluctant writers through poetry and show them that writing can be fun. Four years ago, she developed an original curriculum and started teaching local students in poetry workshops at schools and libraries. She has received much positive feedback about her teaching and her passion for helping kids discover their love of writing. Cassidy created iPoetTree in order to help even more kids see how much fun writing and poetry can really be. 

</p>
</div>

<%= render 'layouts/login_modal' %>

<div class="preview-video-ctr hidden">
  <h2>This is What We Do</h2>
  <iframe class="preview-video" frameborder="0" allow="encrpyted-media" src="https://www.youtube.com/embed/rA9pZwDn6mU"></iframe>
  
</div>
<script>
   $(document).ready(function() {
	$('#hamburger').click(function() {
		$(this).toggleClass('open');
		$('.mobile-nav-box').toggleClass('hidden')
	})


	// Find Elements
	const body = document.querySelector("body")
	const loginModal = document.querySelector(".login-modal-ctr")
	const signUp = document.querySelector("nav .primary-red")
	const homeLogin = document.getElementById("home-login")
	const mobileLogin = document.getElementById("mobileLogin")
	const mobileSignUp = document.getElementById("mobileSignUp")
	// Create & Mutate Elements
	const overlay = document.createElement("div")
	overlay.className = "hidden overlay"
	const modal = document.createElement("div")
	modal.className = "hidden modal"

	//Add Elements to Page
	body.appendChild(overlay)
	body.appendChild(modal)

	// Event Functions
	const overlayToggle = () => {
		overlay.classList.toggle("hidden")
	}
	const modalToggle = () => {
		modal.innerHTML = ""
		modal.classList.toggle("hidden")
	}
	const modalOverlayToggle = () => {
		overlay.classList.toggle("hidden")
		modal.innerHTML = ""
		modal.classList.toggle("hidden")
	}

	const modalChildClassToggle = (className) => {
		const ele = document.querySelector("." + className)
		ele.classList.toggle("hidden")
	}

	const renderLoginModal = () => {
		loginModal.classList.toggle("hidden")
		overlay.setAttribute('data', 'login-modal-ctr')
		modal.appendChild(loginModal)
	}

	// Attach Event Listeners

	signUp.addEventListener("click", (e) => {
		e.preventDefault()
		modalOverlayToggle()
		renderLoginModal()

	})
	
	homeLogin.addEventListener("click", (e) => {
		e.preventDefault()
		modalOverlayToggle()
		renderLoginModal()
	})
	
	mobileLogin.addEventListener("click", (e) => {
		e.preventDefault()
		modalOverlayToggle()
		renderLoginModal()
	})
	
	mobileSignUp.addEventListener("click", (e) => {
		e.preventDefault()
		modalOverlayToggle()
		renderLoginModal()
	})
	
	overlay.addEventListener("click", (e) => {
		const className = e.target.getAttribute("data")
		modalChildClassToggle(className)
		modalOverlayToggle()
		overlay.setAttribute("data", "")
	})

})
</script>


