<nav>
    <a href="#"><p class="logo">iPoetTree</p></a>
    <a href="#">Donate</a>
    <a href="#">About Us</a>
    <% if user_signed_in? -%>
        <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
    <% else -%>
        <%= link_to 'Log in', new_user_session_path %>
    <% end -%>    <a href="#" class="primary-red">Donate</a>
</nav>
<div class="nav-divider"></div>