<nav class="ctr-margin">
    <a href="#"><p class="logo">iPoetTree</p></a>
    <a href="#">Donate</a>
    <a href="#">About Us</a>
    <a href="#">Login</a>
    <a href="#" class="primary-red">Sign Up</a>
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
</nav>
<div class="nav-divider"></div>