<nav>
    <a href="#"><p class="logo">iPoetTree</p></a>
    <a href="#">Donate</a>
    <a href="#">About Us</a>
    <a href="#">Login</a>
    <a href="#" class="primary-red">Donate</a>
</nav>
<div class="nav-divider"></div>