<nav class="ctr-margin logged-in-nav">
    <%= link_to dashboard_url do %>
      <p class="logo">iPoetTree</p>
    <% end %>
    <%= link_to 'Lessons', dashboard_url %>
    <a href="#">PoetTree</a>
    <a href="#">Account Stuff</a>
</nav>