<nav class="ctr-margin logged-in-nav">
    <%= link_to dashboard_url do %>
      <p class="logo">iPoetTree</p>
    <% end %>
    <%= link_to 'Lessons', dashboard_url %>
    <!--<a href="#">PoetTree</a> -->
    <a href="#"><%= current_user.email %></a>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</nav>