<nav class="ctr-margin logged-in-nav">
    <%= link_to '/' do %>
      <p class="logo">iPoetTree</p>
    <% end %>
    <%= link_to 'Lessons', dashboard_url %>
    <%= link_to 'Poettree', '/poems' %>
    <!--<a href="#">PoetTree</a> -->
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</nav>