/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require reset
 *= require variables
 *= require_self
 *= require home
 *= require static_pages
 */

/*===

    BEGIN BASE STYLES

===*/

//@import "semantic-ui";
//@import "variables";
$main-gray: #2C332F;
$dark-gray: #2B2B2B;
$main-red: #BF5858;
$dark-green: #2F7A4D;
$light-green: #2EC746;
$pale-green: #C2EDD4;
$author-profile-green: #A7DB72;

/* UTILITY */

.white {
    color: #FFF;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.transparent {
    opacity: 0;
}

.hidden {
    display: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/** VERTICAL RYHTHM **/

p {
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: $main-gray;
}

.logo {
    font-size: 32px;
    color: $dark-green;
}

nav a:first-child {
    margin-right: auto;
}

p {
    font-family: 'Crimson Text', serif;
}

/** BUTTONS **/

.primary-red {
    background-color: $main-red;
    padding: 10px 0px;
    border-radius: 0 8px 0 8px;
    text-align: center;
    color: white;
}


/*===

    BEGIN MOBILE STYLES
    
===*/

.modal {
    background-color: white;
    max-width: 700px;
    height: 500px;
    border-radius: 20px 0 20px 0;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.logo {
    font-size: 22px;
}

// LESSONS //
//// PROGRESS CTR ////
.lesson-progress-ctr {
    background-color: $dark-green;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
}

.lesson-progress-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lesson-progress-description>* {
    color: #FFF;
}

.lesson-progress-description h3,
.lesson-progress-description p {
    margin: 20px 0;
}

.lesson-progress-description p {
    margin-left: 20px;
}

.progress-bar {
    width: 70%;
    height: 26px;
    border-radius: 20px;
    background-color: #FFF;
    align-self: center;
}

.progress-bar-fill {
    height: 26px;
    border-radius: 20px;
    width: 50%;
    background-color: #42FF63;
}

.lesson-header {
    display: flex;
    justify-content: space-between;
}

.leson-type {
    font-size: 20px;
}

.next-lesson-btn {
    width: 150px;
    height: 40px;
    background-color: $dark-green;
    border-radius: 5px 0 5px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.lesson-body {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
}



//// VIDEO LESSON ////
.lesson-video {
    height: 400px;
    width: 100%;
}

//// LESSON NAVIGATION ////
.lesson-nav {
    display: flex;
    padding: 25px 10px;
}

.lesson-nav a {
    margin-left: 30px;
    margin-top: 5px;
    align-self: center;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}

.lesson-nav .current-lesson {
    font-size: 16px;
    opacity: 0.7;
}

.lesson-play-icon,
.lesson-completed-icon,
.lesson-locked-icon {
    height: 30px;
    width: 30px;
}

.lesson-completed-icon,
.lesson-locked-icon {
    margin-left: auto;
    margin-right: 25px;
}

.lesson-nav-top,
.lesson-nav-mid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.lesson-nav-locked a {
    color: #C4C4C4;
}

//// POEM FORM ////
.assignment-poem-form {
    margin: 45px 0;
    border-radius: 20px 0 20px 0;
    padding: 30px 20px;
    border-left: 15px solid #2F7A4D;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
}

.assignment-poem-form .instructions-ctr {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
}

.assignment-poem-form .assignment-ctr {
    margin-top: 10px;
}

.instructions-ctr p {
    padding-left: 20px;
}

.assignment-ctr input,
.assignment-ctr textarea,
.picture-upload,
.poem-btn-row {
    margin-left: 15px;
}

.assignment-ctr input,
.assignment-ctr textarea,
.picture-upload {
    margin-bottom: 25px;
}

.assignment-ctr input,
.assignment-ctr textarea {
    padding: 5px 0;
    text-indent: 10px;
    display: block;
}

.assignment-ctr input {
    width: 250px;
}

.assignment-ctr textarea {
    width: 100%;
    height: 150px;
}

.picture-upload {
    height: 200px;
    width: 250px;
    border: 2px dashed #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-upload p {
    text-align: center;
    max-width: 150px;
    color: #C4C4C4;
}

.picture-upload-btn {
    width: 35px;
    height: 35px;
}

.poem-btn-row {
    display: flex;
}

.poem-btn-row .save-poem-btn,
.poem-btn-row .add-to-poettree-btn {
    width: 150px;
    height: 40px;
    border-radius: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.save-poem-btn {
    border: none;
    color: white;
    background-color: #2F7A4D;
    transition: all 0.32s;
}

.save-poem-btn:hover {
    transform: translateY(-3.5px);
}

.add-to-poettree-btn {
    color: #2F7A4D;
    background-color: #FFF;
    border: 0.5px solid #2F7A4D;
    margin-left: 25px;
    transition: all 0.32s;
}

.add-to-poettree-btn:hover {
    transform: translateY(-3.5px)
}

/*===

    BEGIN DESKTOP STYLES

===*/

@media screen and (min-width: 800px) {
    .modal {
        padding: 30px;
    } // LESSONS //
    .lesson-progress-ctr {
        flex-direction: row;
        justify-content: space-between;
    }
    .lesson-progress-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .lesson-progress-description h3,
    .lesson-progress-description p {
        margin: 0;
    } //// LESSON NAVIGATION ////
    .lesson-nav a {
        font-size: 18px;
    }
    .lesson-nav .current-lesson {
        font-size: 14px;
    }
}
