/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

--main-gray: #2C332F;
--dark-gray: #2B2B2B;
--main-red: #BF5858;
--dark-green: #2F7A4D;
--light-green: #2EC746;
--pale-green: #C2EDD4;
--author-profile-green: #A7DB72;


h1, h2, h3, h4, h5, h6, p, a {
    color: var(--main-gray);
}

.logo {
    font-size: 32px;
    color: var(--dark-green);
}

p {
    font-family: 'Crimson Text', serif;
}
/*===

    BEGIN MOBILE STYLES
    
===*/

.logo {
    font-size: 22px;
}


/*===

    BEGIN DESKTOP STYLES

===*/