//@import "variables"

$main-gray: #2C332F;
$dark-gray: #2B2B2B;
$main-red: #BF5858;
$dark-green: #2F7A4D;
$light-green: #2EC746;
$pale-green: #C2EDD4;
$author-profile-green: #A7DB72;

/*===

    BEGIN BASE STYLES

===*/


/** FONTS **/

h1, h2, h3, .author-profile-title, .preview-note, .logo, .card-step {
    font-family: 'Love Ya Like A Sister', cursive;
}

nav a {
    font-family: 'Crimson Text', serif;
}

.disclaimer {
    font-size: 14px;
}

.testimonial-quote {
    font-style: italic;
}

.testimonial-parent {
    font-size: 18px;
    text-transform: uppercase;
}

.card-step {
    text-transform: uppercase;
    font-size: 20px;
}

/** NAVIGATION **/

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-divider {
    height: 10px;
    background: linear-gradient(180deg $dark-green, $light-green);
}

/*===

    BEGIN MOBILE STYLES
    
===*/

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 15px;
}

quote {
    font-size: 100px;
}

/* HERO */



.preview {}
.preview-note {}
.preview-btn {}

/** LEARN FROM SOMEONE LIKE YOU **/



/** AUTHOR PROFILE **/

.author-profile {}
.author-profile-title {
    font-size: 15px;
}
.author-profile-img {}

/** BRANCH OUT **/

.card {}
.card-header {}
.card-step{}
.card-description{}

/*===

    BEGIN DESKTOP STYLES

===*/

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

p, a {
    font-size: 16px;
}

quote {
    font-size: 140px;
}

/** NAVIGATION **/

nav {
    height: 90px;
    padding: 20px;
}

nav a:nth-child(n + 2) {
    margin-right: 40px;
}

.primary-red {
    width: 100px;
}