/*===

    BEGIN BASE STYLES

===*/
/** FONTS **/
h1,
h2,
h3,
.author-profile-title,
.preview-note,
.logo,
.card-step {
  font-family: 'Love Ya Like A Sister', cursive; }

.logged-out-nav a {
  font-family: 'Crimson Text', serif; }

.disclaimer {
  font-size: 14px; }

.testimonial-quote {
  font-style: italic; }

.testimonial-parent {
  font-size: 18px;
  text-transform: uppercase; }

.card-step {
  text-transform: uppercase;
  font-size: 20px; }

/** NAVIGATION **/
.logged-out-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.nav-divider {
  height: 10px;
  background: linear-gradient(90deg, #2F7A4D, #2EC746); }

.logged-out-nav a:nth-child(n + 2) {
  display: none; }

#hamburger {
  display: block;
  width: 25px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  background: linear-gradient(90deg, #2F7A4D, #2EC746);
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0px; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 7px; }

#hamburger span:nth-child(4) {
  top: 14px; }

#hamburger.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%; }

/** HERO **/
.hero {
  background: image-url("teaching.JPG");
  background-size: cover;
  display: flex;
  align-items: center; }

/*===

    BEGIN MOBILE STYLES
    
===*/
h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

p {
  font-size: 15px; }

quote {
  font-size: 100px; }

/** LAYOUT **/
.ctr-margin {
  margin-left: 20px;
  margin-right: 20px; }

/* HERO */
/** LEARN FROM SOMEONE LIKE YOU **/
/** AUTHOR PROFILE **/
.author-profile-title {
  font-size: 15px; }

/** BRANCH OUT **/
/*===

    BEGIN DESKTOP STYLES

===*/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 28px; }

  h2 {
    font-size: 22px; }

  p,
  .logged-out-nav a {
    font-size: 16px; }

  quote {
    font-size: 140px; }

  /** LAYOUT **/
  .ctr-margin {
    margin-left: 80px;
    margin-right: 80px; }

  /* HERO */
  .hero {
    height: 500px; }

  .hero-heading-ctr {
    border-radius: 0px 10px 10px 0px;
    max-width: 50%;
    padding: 60px 60px;
    background: linear-gradient(rgba(47, 122, 77, 0.8), rgba(47, 122, 77, 0.8)); }

  .hero-heading-ctr h1 {
    color: white;
    font-weight: normal; }

  /** NAVIGATION **/
  .logged-out-nav {
    height: 90px;
    padding: 20px; }

  .logged-out-nav a:nth-child(n+2) {
    display: inline;
    margin-right: 40px; }

  .primary-red {
    width: 100px; }

  #hamburger {
    display: none; } }

/*# sourceMappingURL=home.css.css.map */
