//@import "variables"
$main-gray: #2C332F;
$dark-gray: #2B2B2B;
$main-red: #BF5858;
$dark-green: #2F7A4D;
$light-green: #2EC746;
$pale-green: #C2EDD4;
$author-profile-green: #A7DB72;

/*===

    BEGIN BASE STYLES

===*/

/** FLEX **/

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/** FONTS **/

h1,
h2,
h3,
.author-profile-title,
.preview-note,
.logo,
.card-step {
    font-family: 'Love Ya Like A Sister', cursive;
}

nav a {
    font-family: 'Crimson Text', serif;
}

.preview-note {
    color: white;
}

.disclaimer {
    font-size: 14px;
}

.testimonial-quote {
    font-style: italic;
}

.testimonial-parent {
    font-size: 18px;
    text-transform: uppercase;
}

.card-step {
    text-transform: uppercase;
    font-size: 20px;
}

.author-profile-title {
    text-align: center;
}

/* VERTICAL RHYTHM **/

h2 {
    margin-bottom: 35px;
}

/** NAVIGATION **/

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-divider {
    height: 10px;
    background: linear-gradient(90deg, $dark-green, $light-green);
}

nav a:nth-child(n + 2) {
    display: none;
}

#hamburger {
    display: block;
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    background: linear-gradient(90deg, $dark-green, $light-green);
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 7px;
}

#hamburger span:nth-child(4) {
    top: 14px;
}


#hamburger.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
}

/** HERO **/

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), image-url("teaching.JPG");
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-heading-ctr {
    border-radius: 0px 10px 10px 0px;
    padding: 60px 60px;
    background: linear-gradient(rgba(47, 122, 77, 0.8), rgba(47, 122, 77, 0.8));
}

.hero-heading-ctr h1 {
    color: white;
    font-weight: normal;
}

.preview {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.preview-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.6);
}

/*===

    BEGIN MOBILE STYLES
    
===*/

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 15px;
}

quote {
    font-size: 100px;
}

.preview-note {
    font-size: 16px;
}

/** LAYOUT **/

.ctr-margin {
    margin-left: 20px;
    margin-right: 20px;
}

/* HERO */

.hero {
    height: 400px;
}

.hero-heading-ctr {
    max-width: 65%;
}

.preview {
    top: 400px;
}

.preview-btn {
    width: 100px;
    height: 100px;

}


/** LEARN FROM SOMEONE LIKE YOU **/

.someone-like-you {
    background-color: #EBEBEB;
}

.author-descrip-ctr {
    display: flex;
    flex-direction: column;
}

/** AUTHOR PROFILE **/

.author-profile {}

.author-profile-title {
    font-size: 15px;
}

.author-profile-img {}

/** BRANCH OUT **/

.card {}

.card-header {}

.card-step {}

.card-description {}

/*===

    BEGIN DESKTOP STYLES

===*/

@media screen and (min-width: 800px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    p,
    nav a {
        font-size: 16px;
    }

    quote {
        font-size: 140px;
    }

    .preview-note {
        font-size: 20px;
    }

    /** LAYOUT **/
    .ctr-margin {
        margin-left: 80px;
        margin-right: 80px;
    }

    /* HERO */
    .hero {
        height: 500px;
    }

    .hero-heading-ctr {
        max-width: 50%;
    }

    .preview {
        top: 550px;
    }

    .preview-btn {
        width: 125px;
        height: 125px;
    }


    /** NAVIGATION **/
    nav {
        height: 90px;
        padding: 20px;
    }

    nav a:nth-child(n+2) {
        display: inline;
        margin-right: 40px;
    }

    .primary-red {
        width: 100px;
    }
    #hamburger {
        display: none;
    }

    /** LEARN FROM SOMEONE LIKE YOU **/
    .someone-like-you {
        padding-top: 200px;
    }

    /** AUTHOR PROFILE **/
    .author-ctr {
        max-width: 900px;
        margin: auto;
    }
    .author-descrip-ctr {
        max-width: 45%;
    }
    .author-profile {
        width: 350px;
        height: 300px;
        background: image-url("author-profile.png") bottom center/200px 275px no-repeat, radial-gradient(#C4C4C4, #A7DB72);
        border-radius: 0 20px 0 0px;
    }

    .author-profile-title {
        font-size: 18px;
    }

    .author-profile-title-ctr {
        background-color: white;
        padding: 15px;
        border-radius: 0 0 20px 0;
    }

    .author-profile-img {}
}
