$main-gray: #2C332F;
$dark-gray: #2B2B2B;
$main-red: #BF5858;
$dark-green: #2F7A4D;
$light-green: #2EC746;
$pale-green: #C2EDD4;


.lesson-progress-ctr {
  background-color: $dark-green;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
}
.lesson-progress-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lesson-progress-description > * {
    color: #FFF;
}
.lesson-progress-description h3,
.lesson-progress-description p {
  margin: 20px 0;
}

.lesson-progress-description p {
  margin-left: 20px;
}

.progress-bar {
  width: 70%;
  height: 26px;
  border-radius: 20px;
  background-color: #FFF;
  align-self: center;
}

.progress-bar-fill {
  height: 26px;
  border-radius: 20px;
  width: 50%;
  background-color: #42FF63;
}

//// VIDEO LESSON ////
.video-lesson {
  width: 100%;
  height: 500px;
}

//// LESSON NAVIGATION ////

.lesson-nav {
  display: flex;
  padding: 25px 10px;
}
.lesson-nav a {
  margin-left: 30px;
  margin-top: 5px;
  align-self: center;
  font-size: 16px;
}

.lesson-nav .current-lesson {
  font-size: 16px;
  opacity: 0.7;
}

.lesson-play-icon,
.lesson-completed-icon, 
.lesson-locked-icon {
  height: 30px;
  width: 30px;
}

.lesson-completed-icon,
.lesson-locked-icon {
  margin-left: auto;
  margin-right: 25px;
}

.lesson-nav-top, 
.lesson-nav-mid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.lesson-nav-locked a {
  color: #C4C4C4;
}

@media screen and (min-width: 800px) {
  .lesson-progress-ctr {
    flex-direction: row;
    justify-content: space-between;
  }
    .lesson-progress-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  .lesson-progress-description h3,
  .lesson-progress-description p {
    margin: 0;
  }
  
  //// LESSON NAVIGATION ////
  .lesson-nav a {
  font-size: 18px;
  }
  .lesson-nav .current-lesson {
  font-size: 14px;
  }
}