// Place all the styles related to the poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-gray: #2C332F;
$dark-gray: #2B2B2B;
$main-red: #BF5858;
$dark-green: #2F7A4D;
$light-green: #2EC746;
$pale-green: #C2EDD4;
$author-profile-green: #A7DB72;


/*===

    BEGIN MOBILE STYLES
    
===*/

.poettree-nav {
    height: 10%;
}

.poettree-bg {
    height: 90vh;
    background: url("foothills") center bottom / cover no-repeat, linear-gradient(#68B0B0, 60%, #C9F2F2);
    position: relative;
}

.poettree-icon-btn {
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.60);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.poettree-search-icon,
.poettree-my-poems-icon {
    height: 20px;
    width: 20px;
}

.poettree-search-btn {
    z-index: 1;
    background-color: $main-red;
    position: absolute;
    right: 1.5%;
    top: 3.5%;
}

.poettree-info-btn {
    z-index: 1;
    background-color: #FFF;
    position: absolute;
    left: 1.5%;
    bottom: 3.5%;
}

.poettree-my-poems-btn {
    z-index: 1;
    background-color: #FFF;
    position: absolute;
    right: 1.5%;
    bottom: 3.5%;
}

.poettree-ctr {
    height: 100%;
    display: flex;
    justify-content: center;
}

.poettree-trunk {
    width: 200px;
    height: 95%;
    background-color: #5E3B22;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.poettree-hole {
    border-radius: 50%;
    height: 95px;
    width: 90px;
    background-color: #C49B7E;
    border: 9px solid #855B3D;
    margin-top: 200px;
}

.leaf-branch-ctr {
    position: absolute;
    height: 350px;
    width: 350px;
}

.leaf-branch-ctr-left {
    left: -88%;
}

.leaf-branch-ctr-right {
    right: -88%;
}

.leaf-branch-ctr-1 {
    top: 20%;
}

.leaf-branch-ctr-2 {
    top: 35%;
}

.leaf-branch-ctr-3 {
    top: 47%;
}

.leaf-branch-ctr-4 {
    top: 62%;
}

.leaf-branch-ctr-5 {
    top: 75%;
}

.leaf-branch-ctr-2 {}

.leaf-branch-ctr-3 {}

.leaf-branch-ctr-4 {}

.leaf-branch-ctr-5 {}

.branch {
    position: absolute;
    top: -3%;
}

.branch-1 {}

.branch-2 {
    top: 30%;
}

.branch-3 {
    top: 45%;
}

.branch-4 {
    top: 60%;
}

.branch-5 {
    top: 75%;
}

.branch-left {
    left: 30%;
}

.branch-right {
    right: 30%;
}

.leaf {
    position: absolute;
    width: 255px;
    top: -35%;
    left: 0;
}

.leaf-1 {
    top: 1%;
}

.leaf-2 {
    top: 15%;
}

.leaf-3 {
    top: 29%;
}

.leaf-4 {
    top: 44%;
}

.leaf-5 {
    top: 60%;
}

.leaf-right {
    left: 28%;
}

.poem-details-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -28%;
    width: 250px;
    height: 150px;
    cursor: pointer;
}

.poem-details-ctr-right {
    left: 29%;
}

.poettree-poem-title,
.poettree-poem-author {
    color: #FFF;
    position: absolute;
}

.poettree-poem-title {
    top: 15%;
}

.poettree-poem-author {}

/* MODAL */

.poettree-search-modal {
    background-color: white;
    max-width: 700px;
    height: 200px;
    border-radius: 20px 0 20px 0;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 50px;
    z-index: 5;
}
.poettree-info-modal {
    background-color: white;
    max-width: 700px;
    height: 500px;
    border-radius: 20px 0 20px 0;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 50px;
    z-index: 5;
}
.poettree-poem-modal {
    background-color: white;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    padding: 50px 50px;
    z-index: 5;
}



.poettree-search-bar {
  display: flex;
}
.poettree-search-bar-input,
.poettree-search-bar-btn {
  height: 55px;
}

.poettree-search-bar-input {
  width: 80%;
  text-indent: 10px;
  border-radius: 5px 0 0 5px;
}
.poettree-search-bar-btn {
  width: 20%;
  background-color: #BF5858;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  cursor: pointer;
}

.poettree-poem-modal-title {
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    margin-bottom: 5px;
}
.poettree-poem-modal-author {
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    margin-bottom: 25px;
    display: block;
}
.poettree-poem-modal-body {
}
.poettree-poem-modal-icon-ctr {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.red-exit-ctr {
    display: flex;
    justify-content: flex-end;
}
.red-exit-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.poettree-poem-modal-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.poettree-poem-modal-icon:nth-of-type(1) {
    margin-right: 15px;
}
.poettree-poem-modal-icon-active {
    background-color: $dark-green;
}
.poettree-poem-modal-icon-inactive {
    background-color: gray;
}
.poettree-preview-img-icon {
    width: 26px;
    height: 22px;
}

.next-poem-btn {
    background: #FFF;
    height: 60px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.60);
    position: absolute;
    z-index: 1;
    bottom: 3.5%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0 20px 0 0;

}

.prev-poem-btn {
    margin-right: 20px;
}

.active-modal {}
/*===

    BEGIN DESKTOP STYLES

===*/

@media screen and (min-width: 800px) {


    .poettree-icon-btn {}


}
