$main-gray: #2C332F;
$dark-gray: #2B2B2B;
$main-red: #BF5858;
$dark-green: #2F7A4D;
$light-green: #2EC746;
$pale-green: #C2EDD4;


/*=== 

    BEGIN MOBILE STYLES 

===*/

//// ABOUT US ////
.about-us-ctr {
    margin: auto;
    width: 80%;
    max-width: 500px;
    padding: 50px 0;
}

.about-us-ctr p:nth-of-type(2) {
    margin-top: 25px;
}

.mission {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill-opacity='0.1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E") ,linear-gradient(90deg, $dark-green, $light-green);
}

.mission .about-us-ctr h2,
.mission .about-us-ctr p {
    color: #FFF;
}


.poetree-and-cassidy {
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 0 20px 0 20px;
    margin-bottom: 25px;
}
    
//// DASHBOARD ////
.next-lesson-full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: linear-gradient(90deg, $dark-green, $light-green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next-lesson-full p {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}

.next-lesson-full img {
    margin-left: 10px;
    height: 15px;
}

.dashboard-bg {
    background-color: #F2F2F2;
    padding: 10px 0;
}

.dashboard-bg h1:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-ctr {
    width: 95%;
    max-width: 600px;
    margin: auto;
}

.dashboard-ctr h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    margin-bottom: 20px;
}

.progress-ctr {
    background-color: #FFF;
    border-radius: 5px;
    padding: 40px 0;
}

.progress-ctr h2 {
    margin-bottom: 0;
}

.progress-icons-ctr {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.completed-ctr {
    display: flex;
}

.progress-icon-videos {
    width: 45px;
    margin-right: 45px;
}

.progress-icon-poems {
    width: 30px;
    margin-right: 45px;
    margin-left: 40px;
}

.total {
    font-size: 45px;
}

////////// LESSONS ////////////////
.lessons-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    max-width: 1024px;
}

.lesson-card {
    width: 260px;
    height: 460px;
    background-color: #FFF;
    border-radius: 5px;
    margin-top: 25px;
    transition: all 0.32s;
}

.lesson-card:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.lesson-card .header {
    height: 90px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}

.lesson-card .header>* {
    color: white;
}

.lesson-card .unlocked {
    background-color: $dark-green;
}

.lesson-card .locked {
    background-color: $main-gray;
}

.lesson-card .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
}

.lesson-card .body .course-image-unlocked {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #E0E0E0;
    border: 2px solid #C2C2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lesson-card .body .course-image-locked {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #C2C2C2;
    border: 2px solid #E0E0E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lesson-card .body .btn {
    width: 185px;
    height: 45px;
    border-radius: 12px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.lesson-card .body .btn img {
    height: 15px;
    margin-left: 25px;
}

.lesson-card .body .btn>* {
    color: white;
}

.lesson-card .body .btn-unlocked {
    background-color: $dark-green;
}

.lesson-card .body .btn-locked {
    background-color: $main-gray;
}

.lessons-complete {
    font-size: 26px;
    margin-top: 22px;
}


/*===

    BEGIN DESKTOP STYLES
    
===*/

@media screen and (min-width: 800px) {

    //// ABOUT US ////
    .about-us-ctr {
        padding: 75px 0;
        max-width: 900px;
    } //// DASHBOARD ////
    .dashboard-bg {
        padding: 40px 0;
    }
    .dashboard-bg h1:nth-child(2) {
        margin-top: 45px;
        margin-bottom: 45px;

    }
    .dashboard-ctr {
        width: 90%;
        max-width: 1024px;
    }

    .progress-ctr {
        padding: 30px 0;
    }

    .progress-icons-ctr {
        flex-direction: row;
        max-width: 500px;
        width: 80%;
        margin: auto;
    } ////////// LESSONS ////////////////
    .lessons-ctr {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        max-width: 1024px;
    }
    .lesson-card {
        margin-top: 0;
    }
}
